/*
CSS Base for the Miskatonic Herald
*/

:root {
    --fondo-gradiente: linear-gradient(90deg, rgba(72,66,179,1) 0%, rgba(84,193,175,1) 49%, rgba(121,20,252,1) 100%, rgba(205,60,138,1) 100%, rgba(10,255,252,1) 100%, rgba(132,132,181,1) 100%, rgba(188,192,232,1) 100%);
}

@font-face {
  font-family: neon;
  src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/707108/neon.ttf);
}

/*
* CSS for body
*/

body{
    display:flex;
    align-items:center;
    justify-content:center;
    height:100vh;
    
    /* background-color:#323232; */
    background-image:url("https://picsum.photos/1600/900");
    font-family: 'OuroborosRegular';
    font-weight: normal;
    font-style: normal;
    margin: 0;
    color:#ffffff;
}


/*
* CSS for content
*/

content {
    background-color: rgba(0, 0, 0, 0.70);
    border-radius: 10px;
    padding: 20px;
    height: auto;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr;
}

/*
* CSS for items
*/

items {

}

item {
    display: flex;
    justify-content: center;
}

/*
* CSS for body
*/

button {
    padding: 30px 100px;
    border-radius: 20px;
    outline: 0;
    cursor: pointer;
    border: none;
    background: var(--fondo-gradiente);
    color: white;
    font-size: 20px;
    transition: transform opacity;
    transition-duration: 1s;
    opacity: 0.8;
}

button:hover {
    opacity: 1;
}

button:active {
    transform: translateY(20px);
}

/*
* CSS for steps
* - Includes the opacity for the 
*   animation that makes this more
*   dinamyc, but is only a simple
*   GUI.
*/

steps {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-gap: 30px;
}

/*
* CSS for all the steps
* with class (estabaEscondido)
* that turns the element visible
* with a transition.
*/
steps * {
    opacity: 0;
    transition: opacity;
    transition-duration: 2s;
    transition-timing-function: ease;
}

/* Show components */
.estabaEscondido {
    visibility: visible;
    opacity: 1;
}

/*Progress*/
/*
* CSS for ProgressBars
*/

progress {
    height: 30px;
    width: 100%;
    padding: 4px;
    border: 1px solid white;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 14px;
}

progress::-webkit-progress-bar {
    background: transparent;
}  

progress::-webkit-progress-value {  
    border-radius: 12px;
    background: var(--fondo-gradiente);
} 

finalmsg {
    visibility: hidden;
    text-align: center;
}

/* Give a animation that blink the text infinitely */
.animacionParpadeo {
    animation-name: neon;
    animation-iteration-count: infinite;
    animation-duration: 1s;
    animation-timing-function: linear;
}

@keyframes neon {
    from {
        color: #C89F2A;
        opacity: 0.2;
    }
    to {
        color: #FFBD00;
        opacity: 1;
    }
}

