#juego {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.tablero {
    display: grid;
    grid-template-columns: repeat(21, 1fr);
    grid-template-rows: repeat(13, 1fr);
}

.celda {
    width: 40px;
    height: 40px;
    background-color: black;
}

.caja {
    background-color: orange;
}

.cajaDescubierta {
    background-color: red;
    transition: 1s;
}

.personaje {
    background: black url(/imgs/mario3.png);
    background-size: 40px 40px;
}

.pisada-derecha {
    background: black url(/imgs/pisada-derecha.png);
    background-size: 40px 40px;    
}

.pisada-arriba {
    background: black url(/imgs/pisada-arriba.png);
    background-size: 40px 40px;    
}

.pisada-izquierda {
    background: black url(/imgs/pisada-izquierda.png);
    background-size: 40px 40px;    
}

.pisada-abajo {
    background: black url(/imgs/pisada-abajo.png);
    background-size: 40px 40px;    
}

.momia {
    background: black url(/imgs/momia.png);
    background-size: 40px 40px;
}