@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

body {
    font-family: 'Press Start 2P';
}

#juego {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.info {
    display: flex;
    justify-content: space-between;
}

span {
    font-size: 25px;
    color: red;
}

.puntos {
    background-color: blue;
    color: white;
}

.contenedor-cajaVidas {
    display: flex;
    justify-content: center;
    margin-left: 10px;
    min-width: 200px;
    min-height: 40px;
    background-color: black;
}

.cajaVidas {
    content: url(/imgs/setaMario.gif);
    width: 30px;
    margin: 5px;
}

.vidas {
    display: inherit;
}

.nada {
    width: 40px;
    height: 40px;
    background-color: transparent;
}

.tablero {
    display: grid;
    grid-template-columns: repeat(21, 1fr);
    grid-template-rows: repeat(13, 1fr);
}

.celda {
    width: 40px;
    height: 40px;
    background-color: black;
}

.caja {
    background-image: url(/imgs/cajaMario.png);
    background-size: 40px 40px;
    background-color: transparent;
}

.cajaDescubierta {
    background-color: red;
    transition: 1s;
}

.personaje {
    content:  url(/imgs/mario3.png);
}

.pisada-derecha {
    content: url(/imgs/pisada-derecha.png);
    background-size: 40px 40px;
}

.pisada-arriba {
    content: url(/imgs/pisada-arriba.png);
}

.pisada-izquierda {
    content: url(/imgs/pisada-izquierda.png);
}

.pisada-abajo {
    content: url(/imgs/pisada-abajo.png);
}

.momia {
    content: url(/imgs/boo.gif);
}

.cofre {
    content: url(/imgs/moneda.gif);
    transform: translateY(18px);
    background-color: transparent;
}

.vacio {
    content: url(/imgs/ladrillo.png);
    background-color: transparent;
}

.sinFondo {
    background-image: none;
}

.llave {
    content: url(/imgs/peach.png);
    transform: scale3d(1.5, 1.5, 1.5) translateY(10px);
    background-color: transparent;
}

.pergamino {
    content: url(/imgs/flower.png);
    transform: translateY(18px);
}

.urna {
    content: url(/imgs/luigi.png);
    transform: scale3d(1.5, 1.5, 1.5) translateY(10px);
}

.gameOver h1 {
    font-size: 150px;
}

.gameOver span {
    color: white;
}

.gameOver {
    background-color: rgba(250, 0, 0, 0.60);
    position: absolute;
    width: 100%;
    text-align: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    display: none;
}