@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

body {
    background-color: yellow;
    font-family: 'Press Start 2P';
}

#juego {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.info {
    display: flex;
    justify-content: space-between;
}

span {
    font-size: 25px;
    color: red;
}

.puntos {
    background-color: blue;
    color: white;
}

.cajaVidas {
    display: inline-block;
}

.nada {
    width: 40px;
    height: 40px;
    background-color: transparent;
}

.tablero {
    display: grid;
    grid-template-columns: repeat(21, 1fr);
    grid-template-rows: repeat(13, 1fr);
}

.celda {
    width: 40px;
    height: 40px;
    background-color: black;
}

.caja {
    background-color: orange;
}

.cajaDescubierta {
    background-color: red;
    transition: 1s;
}

.personaje {
    content:  url(/imgs/mario3.png);
}

.pisada-derecha {
    content: url(/imgs/pisada-derecha.png);
    background-size: 40px 40px;
}

.pisada-arriba {
    content:  url(/imgs/pisada-arriba.png);
}

.pisada-izquierda {
    content:  url(/imgs/pisada-izquierda.png);
}

.pisada-abajo {
    content: url(/imgs/pisada-abajo.png);
}

.momia {
    content: url(/imgs/goomba.png);
}