* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

section {
    width: 100%;
    height: auto;
    border: 1px dotted black;
    border-radius: 5px;
    margin: 10px;
}

button {
    padding: 10px 20%;
}

p {
    margin: 15px 0px;
    text-align: center;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.caja {
    content: url("/imgs/cthulhu.svg");
    width: 30px;
    border: 2px solid black;
    border-radius: 5px;
    transition-property: margin-left;
    transition-duration: 1s;   
}

.ease {
    transition-timing-function: ease;
}

.linear {
    transition-timing-function: linear;
}

.ease-in {
    transition-timing-function: ease-in;
}

.ease-out {
    transition-timing-function: ease-out;
}

.ease-in-out {
    transition-timing-function: ease-in-out;
}

.mover {
    margin-left: Calc(100% - 34px);
}

.bezier {
    transition-timing-function: cubic-bezier(0, 1.0186, 0.8458, 0.2695);
    margin-left: Calc(100% - 34px);
}