body {
    background-color: lightgrey;
}

header h1 {
    text-align: center;
}

.navegacion a {
    text-decoration: none;
    color: black;
}

ul {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center; 
    
}

ul li {
    list-style-type: none;
    margin: 50px;
    height: 100px;
}

a[rel='next']:before {
    content: url('icons/mas.png');
}