body {
    background-color: lightgrey;
}

header h1 {
    text-align: center;
}

.navegacion a {
    display: block;
    text-decoration: none;
    color: black;
}

ul {
    display: flex;
    justify-content: left;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center; 
}

ul li {
    list-style-type: none;
    width: 150px;
    margin: 5%;
}


/* 
            ****************
            *    ICONS     *
            ****************
*/

a[rel='next']:before {
    content: url('icons/mas.png');
}

a[rel='tag']:before {
    content: url('icons/shop.png');
}

a[rel='bookmark']:before {
    content: url('icons/star.png');
}

a[rel='help']:before {
    content: url('icons/pdf.png');
}

a[rel='search']:before {
    content: url('icons/file.png');
}

a[rel='nofollow']:before {
    content: url('icons/security.png');
}